@font-face {font-family: 'siyuan';
    src: url('//at.alicdn.com/t/webfont_iduiegac2t.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_iduiegac2t.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_iduiegac2t.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_iduiegac2t.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_iduiegac2t.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
  }
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Poppins');
body{
    height:1200px;
    font-family: siyuan;
    /* background: linear-gradient(to top , #3E12C7 , #0C9790) */
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.middle{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 350px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-top: 100px; */

}
.logo{
    /* background-color: #fff; */
    width: 200px;
    height: 200px;
    background-image: url("../images/logo.jpg.png");
    background-size: cover;
    transform: scale(0.8);
    margin: 0 auto;
}
.blocks{
    /* display: block; */
    margin: 0 auto;
    background: transparent;
    border: none;
    border-bottom: 2px solid #f5edf0;
}
.log{
    /* margin-top: 200px; */
    margin:  0 auto;
}
i{
    display: inline-block;
    vertical-align: bottom;
    color: #fff;
    font-size: 1.1em;
    margin-right: 20px;
}
.password i{
    margin-right: 36px;
}
input{

    padding: 20px;
    padding-left: 10px;
}
#login{
    width: 80%;
    margin: 50px auto;
    background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);    
    padding: 10px 20px;
    border: none;
    font-size: 1.5em;
    font-family: siyuan;
    border-radius: 10px;
    color: #2c3e50;
}
.last{
    position: absolute;
    top: 120%;
    width: 90%;
    color: #fff;
    left: 50%;
    transform: translate(-50%,0);
}
.forget{
    float: left;
}
.signin{
    float: right;
}






@media screen and (max-width:380px){
    .middle{
        width: 100%;
        top:250px;
    }
    body{
        transform: scale(0.9);
    }
    /* .last{
        transform: translate(-50%,-150px);

    } */
}

@media screen and (max-width:350px){
    .middle{
        top:225px;
    }
    body{
        transform: scale(0.9);
    }
    .last{
        top:110%;
    }
}

@media screen and (min-device-height:800px){
    .middle{
        top:350px;
    }
    body{
        transform: scale(1.05);
    }
}
@media screen and (min-width:768px){

    body{
        transform: scale(1.2);
    }
    .last{
       top:150%;

    }
}