*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing:  border-box;
  font-family: "Microsoft YaHei","SimHei","aria";
}
body{
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

}
.navbar{
  border-bottom: 1px solid rgba(133, 133, 133,0.5);
}
.navbar a:link,a:hover,a:visited{
  color:#333;
}
.bg-light{
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.services-section  a, a:link, a:visited{
  color: #ffe;
  text-decoration: none;
}
.navbar  a:HOVER{
  color:rgb(0, 4, 85);
}


.services-section{
  background-size: cover;
  height:1000px;
  padding: 60px 0;
  background-repeat: repeat-y;
}

.inner-width{
  width:100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow:hidden;
}

.box2{
  width:300px;
  height: 20px;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  margin: 40px auto;
  position:absolute;
  top:110px;
  left:50%;
  transform: translate(-50%,0);
  opacity: 0.7;
  border:none;;
}
.section-title{
  text-align:center;
  color:#fff;
  font-size: 3em;
  height:50px;
  width:300px;
  margin: 0 auto;

  }
.services-container{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
}
.services-box,.services-box1{
  max-width:33.33%;
  padding: 10px;
  text-align: center;
  color: #ffe;
  cursor: pointer;
}
.services-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #dcdde1;
  color:#fee;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.services-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.services-box:hover .services-icon{
  background-color: #82ccdd;
  color: #ffe;
    border-radius: 50%;
}
.services-box1:hover{
  /* border:3px solid #22a6b3; */
  transition: 0.3s linear;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  border-radius: 10%;

}
.services-box1:hover .services-desc{
  color:#ffe;
  text-decoration: none;
}
.services-box1:hover .services-title{
  color:#ffe;
  text-decoration: none;
}
.services-box:hover{
  /* border:3px solid #22a6b3; */
  transition: 0.3s linear;
  background-color:#2c2c54;
  border-radius: 10%;
}

}
.services-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.services-desc{
  font-size: 14px;
}


.services-box1:hover .services-icon{
  background-color: #ff5e57;
  border:NONE;
  border-radius: 50%;
}

@media screen and (max-width:768px) {
  .services-box{
    max-width:50%;
  }
}
@media screen and (max-width:480px) {
  .services-box{
    max-width:100%;
  }
  body{
    height:1200px;
  }
}

@media screen and (max-width:768px) {
  .services-box1{
    max-width:50%;
  }
}
@media screen and (max-width:480px) {
  .services-box1{
    max-width:100%;
  }
  body{
    height:1200px;
  }
}
