*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing:  border-box;
}

a,a:link{
  color: #ddd;
  text-decoration: none;
}
.services-section{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  /* background: -webkit-linear-gradient(top, #648880, #293f50); */
  /* background: url(../images/bg.jpg); */
  background-size: cover;
  height:1000px;
  padding: 60px 0;
  background-repeat: repeat-y;
}

.inner-width{
  width:100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow:hidden;
}

.section-title{
  text-align:center;
  color:#ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width:160px;
  height: 2px;
  background:rgb(54, 142, 199);
  margin: 40px auto;
}

.services-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services-box,.services-box1{
  max-width:33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}
.services-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color:#ddd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.services-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.services-box:hover .services-icon,.services-box1:hover .services-icon{
  background-color: #82ccdd;
  color: #ddd;
}
.services-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.services-desc{
  font-size: 14px;
}

{

}
.services-box1:hover .services-icon{
  background-color: #ff5e57;
}
.services-box1:hover .fa-qq{
  color:#ff9f1a;
}

@media screen and (max-width:768px) {
  .services-box{
    max-width:50%;
  }
}
@media screen and (max-width:480px) {
  .services-box{
    max-width:100%;
  }
}
