* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei","SimHei";
}

#top a:visited{
  color:#1479D7;
  text-decoration: none;
}
#nav a:link,a:visited{
  font-size:1.1em;
  text-decoration: none;
}
a:link{
  color: #333;
  text-decoration: none;
}
a:visited{
  color:#333;
}
.box p:hover{
  color: #0C82FF;
}
.box h1:hover{
  color: #0C82FF;
}
.box title:hover{
  color: #0C82FF;

}
#top {
  width: 1400px;
  height: 80px;
  /* background-color: #ffe; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
  .img_1 {
    width: 141px;
    height: 41px;
    background-color: #3a9679;
    background: url("../images/1.png");
    background-repeat: no-repeat;
    /* color: rgba(201, 163, 131, 0); */
  }
  .search{
    position:relative;
    left:120px;
    width:494px;
    height: 32px;
  }
  .search_box{
    width:384px;
    height: 32px;
    background-color: #F3F6F8;
    border-radius: 60px;
    border:1px solid #DFDFDF;
    padding-left: 20px;
     position: absolute;
  }
  .search_btn{
    height:32px;
    width:110px;
    background-color: #1479D7;
    border-radius: 60px;
    float: right;
    text-align: center;
    line-height: 32px;
    color:#fff;
    position: absolute;
    top:0;
    right:20px;
  }
  .right_part {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
  .btn1,.btn2 {
    width: 33px;
    height:33px;
    background-color: #3a9679;
    background: url("../images/3.png");
    background-repeat: no-repeat;;
    /* margin-right: 20px; */
  }
  .btn2{
    background-color: #3a9679;
    background: url("../images/4.png");
    background-repeat: no-repeat;;
  }
  .btn3{
    width:38px;
    height:38px;
    line-height: 38px;
    text-align: center;
    background-color: #f5f5f5;
    font-size: 0.8em;
    color:#1479D7;
  }
  .btn1:hover{
    background: url("../images/4-4.jpg");
    background-repeat: no-repeat;;
  }
  .btn2:hover{
    background: url("../images/5-5.jpg");
    background-repeat: no-repeat;;
  }
  .btn3:hover{
    border:1px solid rgb(226, 226, 226);
  }





  #nav {
    width: 1400px;
    background-color: #1479D7;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */

    margin: 0 auto;
    border-radius: 3px;
    margin: 0 auto;
    /* position:absolute;
    transform: translate(-50%,-30%);
    left:50%;
    top:90px; */

    /* margin-top: 500px;
    margin-bottom: 500px; */
  }
  ul li{
    list-style: none;
    float: left;
  }
  .one{
    margin-left: 10px;
  }
  .one a{
    display: block;
    font-size: 1.2em;
    width:48px;
    height:30px;
    color:#fff;
    margin: 8px 16px ;
    line-height: 30px;
    text-align: center;
  }
  .one a:hover{
    background-color: #CBE1ED;
    }
  .more a{
   /* display: block;
   font-size: 1.2em;
   width:65px;
   height:40px;
   color:#fff;
   margin: 8px ;
   background-color: #000;
   line-height: 40px;
   text-align: center; */
   /* display: block;
   font-size: 1.2em;
   width:48px;
   height:30px;
   color:#333;
   margin: 8px 16px ;
   background-color: #F9FBFC;
   line-height: 30px;
   text-align: center; */
   }

   li:first-child{
    margin-left: 8px;
  }
  .more{
    background-color: #f9fbfc;
    width:1400px;
    position: absolute;
    top:125px;
    left:50%;
    /* margin-left: 10px; */

    transform: translate(-50%,0);
    border:1px solid rgb(190, 190, 190);
    padding-bottom: 8px;
    box-shadow: -1px -2px 3px green;
    box-shadow: 0px 2px 8px rgb(190, 190, 190);
  }
  .more-one{
    margin:10px 0 0px 8px;
  }
  .more li a{
    /* background-color: #000; */
    width:65px;
    height:20px;
    margin:8px ;
    line-height: 20px;
    color:rgb(59, 56, 56);
  }
  .more a:hover{
    background-color: #F9FBFC;
    color: #0C82FF;
  }
  .more li:first-child{
    margin-left: 0;
  }
  #nav::after{
    display: block;
    content: "";
    clear: both;
  }
  .more{
    visibility: hidden;
  }
  .on:hover .more{
    visibility: visible;
  }









#main {
  width: 1400px;
  min-width: 1024px;
  height: 1500px;
  /* background-color: #ffe; */
  margin: 0 auto;
  margin-top: 30px;
 }
.box a:hover{
  color:#1479D7;
}
.ad {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  /* background-color: rgb(164, 0, 59); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ad1 {
  width: 916px;
  height: 75px;
  background-color: #e16262;
  background: url("../images/22.jpg")
}
.ad2 {
  width: 440px;
  height: 75px;
  background-color: #e16262;
  background: url("../images/7.png")
}
.box {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
h1 {
  font-size: 18px;
  padding: 20px;
  text-align: left;
  color: #000;
  padding-left: 0;
  /* border-top: 1px solid rgb(71, 91, 150); */
}
p {
  line-height: 16px;
  font-size: 16px;
  color: rgba(42, 35, 42, 0.93);
}
.impnews1 {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  width: 440px;
  height: 50px;
  border-bottom: 1px solid rgb(47, 87, 120);
  /* background-color: rgb(29, 62, 52); */
}
.title_2{
  width: 80px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  float:left;
  margin-left: 30px;

}
.line{
  width:1px;
  height:20px;
  background: rgb(235, 235, 235);
  float: left;
  position:absolute;
  left:310px;
  top:265px;
}
.title_1 {
  width: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  float:left;
  vertical-align:middle;
}
.img_3 {
  width: 104px;
  height:42px;
  background-color: #fabc60;
  background:url("../images/10.jpg");
  background-repeat:no-repeat;
  transform: translate(0,5px);
  float:right;
  margin-right: 0;
}
.title_1:hover,.title_2:hover{
  border-bottom: 4px solid #1479D7;
}
.title_2:hover < .space1{
  visibility: none;
}
.text {
  margin-bottom: 20px;
   }
.impnews2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  /*  */
  /* background-color: rgb(29, 62, 52); */
  margin-top: 50px;
  margin-bottom: 70px;
}
.img_6 {
  width: 50%;
  height: 130px;
  background-color: #fabc60;
}
.title2 {
  margin-left: 10px;
  width: 40%;

  height: 140px;
  line-height: 30px;
  font-size: 16px;
}
.img_4,.img_5 {
  width: 52%;
  height: 125px;
  background-color: rgb(117, 135, 82);
  background: url("https://inews.gtimg.com/newsapp_ls/0/8693727421_640330/0");
  background-size:contain;
  border-radius: 4PX;
}
.img_5{
  background: url("https://inews.gtimg.com/newsapp_ls/0/8691193965_196130/0")
  }
.box2 {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(47, 87, 120);
}
.space2,.space3{
  width:480px;
  /* heighst: 200px;
  background-color: rgb(216, 232, 165); */
  padding-bottom: 20px;
}
h2 {
  width: 25%;
  font-size: 16px;
  color: rgb(61, 76, 115);
  border-right: 2px solid rgb(180, 187, 187);
}
.box3,.box33 {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}
.box33{
  margin: 0 auto;
}
.right2 {
  width: 76%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.title5 {
  width: 20%;
  height: 20px;
  font-size: 14px;
  color: blue;
  line-height: 20px;
  border-right: 1px blue solid;
}
.date2 {
  color: rgb(85, 72, 77);
  font-size: 14px;
  width: 70%;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}
.img_7 {
  width: 440px;;
  height: 160px;
  background-color: #fabc60;
}
.img_8 {
  width: 100%;
  height: 248px;
  border-radius: 5px;
  background-color: #fabc60;
  margin-bottom: 30px;

}
.box4 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_9 {
  width: 20px;
  height: 20px;
  background-color: rgb(222, 106, 49);
  border-radius: 10px;
}
.passage {
  font-size: 15px;
  line-height: 40px;
}
.photo{
  width:1440px;
  /* background:rgb(149, 149, 149); */
  height:300px;
  margin:0 auto;
}
.box5{
  width:1440px;
  height:59px;
  /* background-color: #ffe; */
  padding-top: 10px;
  border-bottom: 1px solid #C9DFF4;
}
.photo span{
  font-size: 1.2em;
  line-height: 50px;
  height:50px;
  border-bottom: 4px solid #1479D7;
  padding-bottom: 10px;
  color:#1479D7;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.container p{
  display: block;
  width:200px;
  height:120px;
  margin-top: 10px;
}
.photo1,.photo2,.photo3,.photo4,.photo5,.photo6{
  width:214px;
  height:118px;
  /* background-color: rgb(3, 54, 215); */
  border-radius: 5px;
  background-repeat: no-repeat;
  /* float: left; */
  /* margin-right: 26px; */
}
.photo1{
  background: url("../images/18.png");
}
.photo2{
  background: url("../images/19.png");
}
.photo3{
  background: url("../images/20.png");
}
.photo4{
  background: url("../images/21.png");
}
.photo5{
  background: url("../images/22.png");
}
.photo6{
  background: url("../images/17.png");
}

#footer {
  width: 1400px;
  /* height: 300px;
  background-color: rgba(32, 154, 77, 0.46); */
  margin: 50PX auto;
}
.ads {
  width: 100%;
  height: 88px;
  background-color: #00a8b5;
  margin-bottom: 50px;
  border-radius: 8px;
  background: url("../images/12.jpg")
}
.last {
  margin: 10px auto;
  WIDTH: 70%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  align-items: center;
}
.last2 {
  WIDTH: 40%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 13px;
  margin-bottom: 10px;
 }
.p2 {
  width: 70%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20 auto;
  font-size: 13px;
}
.logo_box {
  width: 50%;
  height: 52px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  /* margin-top: 30px; */
}
.logo1 {
  width: 119px;
  height: 49px;
  background-color: #11144c;
  background:url("../images/12.png");
}
.logo2 {
  width: 119px;
  height: 49px;
  background-color: #21144c;
  background:url("../images/13.png");
}
.logo3 {
  width: 119px;
  height: 49px;
  background-color: #31144c;
  background:url("../images/14.png");
}
.logo4 {
  width: 122px;
  height: 49px;
  background-color: #41144c;
  background:url("../images/15.png");
}
.logo5{
  width: 119px;
  height: 49px;
  background-color: #41144c;
  background:url("../images/16.png");
}
.logo1,.logo2,.logo3,.logo4,.logo5{
  border:1px solid rgb(223, 223, 223);
}
.img_box{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 40px;
}
.img_10,.img_11{
  width:45%;
  height:100px;
  background-color: #fabc60;
  border-radius: 8px;
}
