@charset "utf-8";
/* CSS Document */


.shouye{ width:1920px; height:2550px;}
.top{ height:104px; background-image:url(../images/top.jpg);}

.logo p{ font-size:24px; color:#FFF; padding-left:400px; padding-top:39.8px; font-family:"幼圆"}

.sy p{ font-size:24px; color:#FFF; padding-left:600px; padding-top:39.8px; font-family:"幼圆"}
.sy,
.logo{ float:left;}
.datu{ width:1920px; height:665px; background-color:#333;}
.datu h3{ font-size:72px; font-family:"幼圆"; color:#FFF; padding-left:616.9px; padding-top:70px;}
.lunbo{ width:1200px; height:572px; margin-top:-386px; margin-left:360px;
        background:linear-gradient(45deg,#7d6a6a,#b1b1b4,#86a5b2);}