@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto+Mono&display=swap");

* {
  text-shadow: none;
  font-family: "Noto Sans SC", sans-serif;
}
.ui-mobile-viewport #pageone,
#pagefor {
  height: 1000px;
  background-image: linear-gradient(to top, #d1e2e7, #e2dfe9);
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cir {
  margin: 0 auto;
  background-color: #fff;
  width: 80%;
  height: 0;
  padding-top: 80%;
  margin-top: 20px;
  border-radius: 50%;
  background: url("../images/2.gif");
  background-size: contain;
}
/* .cires{
    background-color: rgba(30, 30, 30, 0.5);
    color: aliceblue;
    width: 50%;
    margin: 0 auto;
    height: 0;
    padding-top: 50%;
    position: relative;
    transform: translate(0,-120%)
}
.top_p{
    position: relative;
    transform: translate(0,-700%)

} */

.card {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  /* height: 200px; */
  margin-top: 30px;
  border-radius: 3%;
  padding: 20px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: siyuan;
  margin-bottom: 10px;
}
.head-left {
  font-weight: 650;
}
.head-right {
  display: inline-block;
  width: 95px;
  background-color: #7e186c;
  border-radius: 20px;
  text-align: center;
  text-shadow: none;
  color: aliceblue;
  font-size: 0.9em;
}
.fa-check-circle {
  font-size: 1.5em;
}
.row {
  padding-left: 3px;
  padding-top: 5px;
  font-size: 0.8em;
}
.col-6 {
  font-weight: 550;
}
.undo {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
}
.card2 {
  margin-top: 10px;
}
.card2-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.card2-left {
  width: 30%;
  height: 0;
  padding-top: 30%;
  background-color: #333;
  background: url("../images/1.jpg") no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card2-main .card2-left2 {
  width: 30%;
  height: 0;
  padding-top: 30%;
  background-color: #333;
  background: url("../images/2.png") no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.card-p1 {
  font-size: 0.9em;
  font-weight: 700;
}
.card-p2 {
  font-size: 0.8em;
}
.card-p3 {
  width: 100%;
  height: 1px;
  background-color: #666;
}
.card-p4 {
  font-size: 0.8em;
  color: grey;
}
.icon1 {
  width: 25px;
  height: 25px;
  background: #333;
  background: url("../images/icon1.png") no-repeat;
  background-size: contain;
}
.icon2 {
  width: 25px;
  height: 25px;
  background: #333;
  background: url("../images/icon2.png") no-repeat;
  background-size: contain;
}
.icon3 {
  width: 25px;
  height: 25px;
  background: #333;
  background: url("../images/icon3.png") no-repeat;
  background-size: contain;
}
.icon4 {
  width: 25px;
  height: 25px;
  background: #333;
  background: url("../images/icon4.png") no-repeat;
  background-size: contain;
}
.ui-mobile-viewport .foot {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 0.9em;
  background-color: rgb(255, 255, 255);
}
.ui-mobile-viewport a:link {
  color: #333;
}

#pagetwo .head {
  padding: 20px;
}

#pagetwo .head span {
  font-size: 1.4em;
  font-weight: 600;
}
#pagetwo .lunbo {
  padding: 20px 10px;
}
#pagetwo .lunbobox {
}
#pagetwo .img7 {
  width: 100%;
  height: 200px;
  background: #000;
  background: url("../images/5.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
  background-position: center;
}
#pagetwo .img8 {
  width: 100%;
  height: 200px;
  background: #000;
  background: url("../images/6.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
  background-position: center;
}
#pagetwo .img9 {
  width: 100%;
  height: 200px;
  background: #000;
  background: url("../images/7.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
  background-position: center;
}
#pagetwo .img10 {
  width: 100%;
  height: 200px;
  background: #000;
  background: url("../images/8.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
  background-position: center;
}
#pagetwo .img11 {
  width: 100%;
  height: 200px;
  background: #000;
  background: url("../images/9.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
  background-position: center;
}
#pagetwo .img13 {
  width: 70px;
  height: 70px;
  background: #000;
  background: url("../images/10.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
}
#pagetwo .img12 {
  width: 80px;
  height: 80px;
  background: #000;
  background: url("../images/11.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
}
#pagetwo .img16 {
  width: 85px;
  height: 85px;
  background: #000;
  background: url("../images/14.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
}

#pagetwo .img14 {
  width: 80px;
  height: 80px;
  background: #000;
  background: url("../images/12.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
}
#pagetwo .img15 {
  width: 85px;
  height: 85px;
  background: #000;
  background: url("../images/13.png") no-repeat;
  background-size: contain;
  border-radius: 20px;
}
#pagetwo .main2 {
  padding: 10px;
}
#pagetwo .main22 {
  text-align: center;
  line-height: 160px;
  color: #8c8c8c;
}
#pagetwo .main23 {
  margin-top: 20px;
  margin: 0% auto;
  width: 90%;
  height: 200px;
  background: #000;
  background: url(../images/15.png) no-repeat;
  background-size: contain;
  background-position: center;
}
#pagetwo .nav {
  padding: 0 20px;
  color: #9f9f9f;
  font-size: 1.1em;
}
#pagetwo .main24 {
  background: #fff1de;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#pagetwo .main24-headright {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #000;
  color: #e2dfe9;
  text-align: center;
  margin-left: 10px;
  line-height: 18px;
}
#pagetwo .main24-headleft {
  font-size: 1.3em;
  color: #333;
}
#pagetwo .main244 {
  background: #fff;
  padding-top: 30px;
}
.main241 {
  width: 120px;
  height: 120px;
  background: #000;
  background: url("../images/16.png") no-repeat;
  background-size: contain;
  /* padding-right: 50px; */
  /* margin-right: 50px; */
}
.main242 {
  width: 120px;
  height: 120px;
  background: #000;
  background: url("../images/17.png") no-repeat;
  background-size: contain;
  margin-right: 20px;
}
.main243 {
  width: 120px;
  height: 120px;
  background: #000;
  background: url("../images/18.png") no-repeat;
  background-size: contain;
}
#pagetwo .box44 {
  text-align: center;
  line-height: 50px;
  color: #333;
  margin-top: 50px;
  margin-bottom: 10px;
}
#pagetwo .box444 {
  margin-right: 50px;
}
#pagetwo .box55 {
  color: #fc6060;
  font-size: 1.3em;
}
#pagetwo .main25 {
  margin-top: 20px;
  margin-bottom: 100px;
}
#pagetwo .box25 {
  width: 50%;
  padding: 10px 20px;
  border-left: 1px solid #dddddd;
  padding-bottom: 20px;
}
#pagetwo .box251 {
  font-size: 1.3em;
  color: rgb(66, 66, 66);
  margin-bottom: 20px;
}
#pagetwo .box252 {
  color: #999999;
  margin-bottom: 20px;
}
#pagetwo .box2531 {
  width: 150px;
  height: 80px;
  background: #000;
  background: url("../images/19.png") no-repeat;
  background-size: cover;
}
#pagetwo .box2532 {
  width: 150px;
  height: 80px;
  background: #000;
  background: url("../images/20.png") no-repeat;
  background-size: cover;
}
#pagetwo .box2533 {
  width: 150px;
  height: 80px;
  background: #000;
  background: url("../images/21.png") no-repeat;
  background-size: cover;
}
#pagetwo .box2534 {
  width: 150px;
  height: 80px;
  background: #000;
  background: url("../images/22.png") no-repeat;
  background-size: cover;
}
#pagetwo .b21 {
  /* border-bottom: 1px solid #ddd; */
  border-top: 1px solid #ddd;
}








#pagethr #grid {
  background: #fafafa;
  padding-top: 20px;
  /* margin-bottom: 100px; */
}
.grid-left{
  width: 48%;
  height: auto;
  display: inline-block;
  padding-left: 10px;
  padding-right: 3px;
  background: #fff;
}
.grid-right{
  width: 48%;
  height: auto;
  display: inline-block;
  padding-right: 10px;
padding-left: 3px;
  background: #fff;

  /* position: relative;
  transform: translate(0,-50%); */
}
.item-p{
  margin: 20px 10px;
}
.item-btn{
  margin: 20px 10px;
  font-size: 0.8em;

}
.item {
  margin-bottom: 20px;
  background-position: center;
}
.img30{
  width: 100%;
  height: 350px;
  background: #000;
  background: url('../images/35.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img32{
  width: 100%;
  height: 330px;
  background: #000;
  background: url('../images/34.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img34{
  width: 100%;
  height: 270px;
  background: #000;
  background: url('../images/33.png')no-repeat;
  background-size: cover;  background-position: center;

}
.img36{
  width: 100%;
  height: 300px;
  background: #000;
  background: url('../images/32.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img38{
  width: 100%;
  height: 330px;
  background: #000;
  background: url('../images/31.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img31{
  width: 100%;
  height: 340px;
  background: #000;
  background: url('../images/30.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img33{
  width: 100%;
  height: 320px;
  background: #000;
  background: url('../images/29.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img35{
  width: 100%;
  height: 300px;
  background: #000;
  background: url('../images/28.png')no-repeat;
  background-size: cover;
  background-position: center;
}
.img37{
  width: 100%;
  height: 330px;
  background: #000;
  background: url('../images/27.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.img39{
  width: 100%;
  height: 290px;
  background: #000;
  background: url('../images/26.png')no-repeat;
  background-size: cover;
  background-position: center;

}
.thr-head{
  font-size: 1.7em;
  padding: 20px 30px;
  font-weight: 600;
  color: #444;
}
.thr-nav{
  padding: 10px 40px 20px 40px;
  font-size: 1.2em;
}


#pagefor .main1 {
  padding: 10px;
  margin-top: 20px;
}
#pagefor .main1-left {
  width: 175px;
  height: 175px;
  background: #333;
  background: url("../images/3.png") no-repeat;
  background-size: contain;
}
#pagefor .main1-right {
  padding-right: 40px;
  padding-top: 20px;
}
#pagefor .top1 {
  font-size: 1.3em;
  padding-bottom: 20px;
}
#pagefor .top2,
.top3 {
  font-size: 0.8em;
  margin-bottom: 5px;
}
#pahefor .top4 {
  font-size: 0.9em;
  text-align: center;
}
#pagefor .top4 span {
  display: block;
  text-align: center;
}

#pagefor .top4-left {
  border-right: 1px solid #333;
  padding-right: 20px;
}
#pagefor .top4-right {
  padding-left: 20px;
}
#pagefor .main2 span {
  display: block;
}
#pagefor .main2 {
  padding: 15px;
}
#pagefor .big {
  font-size: 1.3em;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
#pagefor .main2-left span {
  padding-right: 30px;
}
#pagefor .main2-right span {
  font-size: 0.9em;
  height: 30px;
  padding-left: 30px;
  line-height: 30px;
  border-left: 1px solid #333;
}
#pagefor .main3 {
  width: 90%;
  height: 252px;
  background: #333;
  background: url("../images/4.png") no-repeat;
  background-size: contain;
  margin: 0 auto;
}
#pagefor .main4 {
  margin-top: 40px;
  text-indent: 10px;
  font-size: 0.9em;
  /* text-align: center; */
}
#pagefor .main44 {
  width: 90%;
  margin: 0% auto;
  padding: 12px;
  border-bottom: 1px solid #333;
  font-size: 1.1em;
}
#pagefor .icon5 {
  width: 15px;
  height: 15px;
  background: #333;
  background: url("../images/icon5.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 20px;
}




@media screen and (max-width:480px) {
  .main241 {
    width: 80px;
    height: 80px;
    background: #000;
    background: url("../images/16.png") no-repeat;
    background-size: contain;
    /* padding-right: 50px; */
    /* margin-right: 50px; */
  }
  .main242 {
    width: 80px;
    height: 80px;
    background: #000;
    background: url("../images/17.png") no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
  .main243 {
    width: 80px;
    height: 80px;
    background: #000;
    background: url("../images/18.png") no-repeat;
    background-size: contain;
  }
}
