@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto+Mono&display=swap');


*{
    text-shadow: none;
    font-family: 'Noto Sans SC', sans-serif;
}
.ui-mobile-viewport #pageone,#pagefor
{
    height: 1000px;
    background-image: linear-gradient(to top, #d1e2e7, #e2dfe9 );
}
.top{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#cir{
    margin: 0 auto;
    background-color: #fff;
    width: 80%;
    height: 0;
    padding-top: 80%;
    margin-top: 20px;
    border-radius: 50%;
    background: url('../images/2.gif');
    background-size: contain;
}
/* .cires{
    background-color: rgba(30, 30, 30, 0.5);
    color: aliceblue;
    width: 50%;
    margin: 0 auto;
    height: 0;
    padding-top: 50%;
    position: relative;
    transform: translate(0,-120%)
}
.top_p{
    position: relative;
    transform: translate(0,-700%)

} */

.card{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    /* height: 200px; */
    margin-top: 30px;
    border-radius: 3%;
    padding: 20px;
}
.card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: siyuan;
    margin-bottom: 10px;
}
.head-left{
    font-weight: 650;
}
.head-right{
    display: inline-block;
    width: 95px;
    background-color: #7e186c;
    border-radius: 20px;
    text-align: center;
    text-shadow: none;
    color: aliceblue;
    font-size: 0.9em;
}
.fa-check-circle{
    font-size: 1.5em;
}
.row{
    padding-left: 3px;
    padding-top: 5px;
    font-size: 0.8em;
}
.col-6{
    font-weight: 550;
}
.undo{
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
}
.card2{
    margin-top: 10px;
}
.card2-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.card2-left{
    width: 30%;
    height: 0;
    padding-top: 30%;
    background-color: #333;
    background: url('../images/1.jpg') no-repeat;
    background-size: cover;
    border-radius: 2%;
}
.card2-main .card2-left2{
    width: 30%;
    height: 0;
    padding-top: 30%;
    background-color: #333;
    background: url('../images/2.png') no-repeat;
    background-size: cover;
    border-radius: 2%;
}
.card-p1{
    font-size: 0.9em;
    font-weight: 700;
}
.card-p2{
    font-size: 0.8em;
}
.card-p3{
    width: 100%;
    height: 1px;
    background-color: #666;
}
.card-p4{
    font-size: 0.8em;
    color: grey;
}
.icon1{
    width: 25px;
    height: 25px;
    background: #333;
    background: url('../images/icon1.png')no-repeat;
    background-size: contain;
}
.icon2{
    width: 25px;
    height: 25px;
    background: #333;
    background: url('../images/icon2.png')no-repeat;
    background-size: contain;
}
.icon3{
    width: 25px;
    height: 25px;
    background: #333;
    background: url('../images/icon3.png')no-repeat;
    background-size: contain;
}
.icon4{
    width: 25px;
    height: 25px;
    background: #333;
    background: url('../images/icon4.png')no-repeat;
    background-size: contain;
}
.ui-mobile-viewport .foot{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 0.9em;
    background-color: rgb(255, 255, 255);
}
.ui-mobile-viewport a:link{
    color: #333;
}








#pagefor .main1{
    padding: 10px;
    margin-top: 20px;
}
#pagefor .main1-left{
    width: 175px;
    height: 175px;
    background: #333;
    background: url('../images/3.png')no-repeat;
    background-size: contain;
}
#pagefor .main1-right{
    padding-right: 70px;
    padding-top: 20px;
}
#pagefor .top1{
    font-size: 1.3em;
    padding-bottom: 20px;

}
#pagefor .top2,.top3{
    font-size: 0.8em;
    margin-bottom: 5px;
}
#pahefor .top4{
    font-size: 0.9em;
    text-align: center;
}
#pagefor .top4 span{
    display: block;
    text-align: center;
}

#pagefor .top4-left{
    border-right: 1px solid #333;
    padding-right: 20px;
}
#pagefor .top4-right{
    padding-left: 20px;
}
#pagefor .main2 span{
    display: block;
}
#pagefor .main2{
    padding: 15px;
}
#pagefor .big{
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
#pagefor .main2-left span{
    padding-right: 30px;
}
#pagefor .main2-right span{
    font-size: 0.9em;
    height: 30px;
    padding-left: 30px;
    line-height: 30px;
    border-left: 1px solid #333;
}
#pagefor .main3{
    width: 90%;
    height: 252px;
    background: #333;
    background: url('../images/4.png')no-repeat;
    background-size: contain;
    margin: 0 auto;
}
#pagefor .main4{
    margin-top: 40px;
    text-indent: 10px;
    font-size: 0.9em;
    /* text-align: center; */
}
#pagefor .main44{
    width: 90%;
    margin: 0% auto;
    padding: 5px;
    border-bottom: 1px solid #333;
}
#pagefor .icon5{
    width: 15px;
    height: 15px;
    background: #333;
    background: url('../images/icon5.png')no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 20px;
}