.ui-mobile-viewport #pagetwo #header{
    background-color: none;
    border: none;
    text-shadow: none;
    color: #71BD38;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7d7d7d;
}
#pagetwo i{
    display: inline;
    vertical-align: middle;
    font-size: 1.2em;
}
#pagetwo h1{
    display: inline-block;
    vertical-align: middle;
}
#pagetwo i:last-child{
    color: #8BC321;
}
#pagetwo .list{
    width: 200px;
    height: 1000px;
    background-color: #fff;
    background: url('../images/bg2.png') no-repeat;
    background-size: contain;
    margin-left: -70px;
    position: absolute;
}
.top{
    text-shadow: none;
    color: #52BD75;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.4em;
    margin-top: 40px;;
    margin-left: 60px;
}
.card2{
    text-shadow: none;
    width: 90%;
    margin: 0 auto;
    color: rgb(155, 155, 155);
    margin-top: 20px;
    padding: 20px;
    padding-left: 50px;
    background: #25262B;
    border-radius: 10px;
    font-family: 'Noto Sans SC', sans-serif;
}
.card21{
    height: 100px;
}
.card2-angle{
    width: 46px;
    height: 26px;
    background: #000;
    background: url('../images/icon9.png') no-repeat;
    background-size: cover;
    transform: scale(0.5);
    float: right;
}
.card2p{
    font-size: 1.1em
}
.main .card22{
    margin-top: 20px;
}
.card2page{
    font-size: 1.1em;
    margin-top: 10px;
    margin-left: 20px;

}
.card2page1right , .card2page2right{
    float: right;
    font-size: 0.8em;
}
.card2page22{
    font-size: 0.8em;
}
.card2page1{
    padding: 2px;
    border-bottom: 1px solid #7d7d7d;
}
.card2page2{
    padding-top: 10px;
    line-height: 20px;
    vertical-align: middle;
}
.card2 .cardhh{
    line-height: 15px;
    font-size: 0.7em;
}
.card2-img{
    width: 29px;
    height: 98px;
    background-color: #000;
    background: url('../images/icon10.png') no-repeat;
    background-size: cover;
    transform: scale(0.9);
    position: absolute;
    margin-left: -15px;
}