/* 我的页面 */

#content4{
    text-shadow: none;
}
.main-bg4{
    width: 100%;
    height: 300px;
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    text-align: center;
    padding-top: 50px;
    color: rgb(243, 243, 243);
}
.photo4{
    background-color: #fff;
    background: url('../images/1.jpg') no-repeat;
    width: 125px;
    height: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 4px solid #A5D36A;
    margin: 0 auto;
}
.main-bg4 span{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.3em;
}
.main-bg4 p{
    font-family: 'Noto Sans SC', sans-serif;
    color: #7BB72F;
    display: inline-block;
}
.p4 i{
    color: #7BB72F;
}
.box4{
    font-family: 'Noto Sans SC',  'Merriweather Sans',sans-serif;
    position: relative;
    height: 35px;
    top:20px;
    display: flex;
    justify-content: space-between;
    background: rgba(60, 60, 60, 0.7);
    
}
.box4 .box44{
    width: 33.33%;
    padding: 5px;
    border-right: 1px solid #979797;
}
.box44 span{
    font-family: 'Merriweather Sans', sans-serif;

}
.box44:last-child{
    border: none;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 40px;

}
.pack{
    width: 50px;
    height: 30px;
    background-color: #fff;
    background: url('../images/icon5.png')no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.pack2{
    background: url('../images/icon4.png')no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.pack3{
    background: url('../images/icon6.png')no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
}
.pack4{
    background: url('../images/icon7.png')no-repeat;
    background-size: contain;
    height: 50px;
    width: 40px;
}
.icon p{
    color: #818181;
    font-size: 0.8em;
    font-family: 'Noto Sans SC',  'Merriweather Sans',sans-serif;
}
.col-10{
    padding-left: 30px;
    line-height: 10px;
    color: rgb(206, 206, 206);
    font-family: 'Noto Sans SC',  'Merriweather Sans',sans-serif;
}
.card4{
    background: #25262B;
    margin-bottom: 100px;
}
.card4 .row{
    padding: 20px;
    height: 50px;
    border-bottom: 1px solid #535353;
}

.card4 .row .col-2{
    width: 10px;
    height: 20px;
    background-color: #333;
    background: url('../images/icon8.png')no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.rowmer{
    width: 100%;
    height: 20px;
    background-color: #1F2024;
}
.card4 .noborder{
    border: 0 solid #fff;
}
